{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: white;
    }
    #claimList
    {
        max-height: 440px;
        overflow-y: auto;
    }
</style>
<link rel="stylesheet" type="text/css" href="/vali/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<div class="app-content">
    <div class="col-md-12 tile" id="claimList">
        <h3>Claims List</h3>
        <table id="claimsTable" class="table table-dark">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Claimant Id</th>
                <th>Claimant Name</th>
                <th>Created by</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for cnt,claim in claims %}
                <tr>
                    <td>{{cnt+1}}</td>
                    <td>{{claim.id}}</td>
                    <td>{{claim.name}}</td>
                    <td>{{claim.create_by}}</td>
                    <td>{{claim.timestamp}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
<script src="/vali/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="/vali/js/plugins/dataTablesButton.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js "></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function() {
        $('#claimsTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
    });
</script>
<style>
table.dataTable tbody tr
{
    background: #212529;
}
#claimsTable_filter,
#claimsTable_paginate
{
    color: white;
}
</style>
{% endblock %}
