{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: white;
    }
    #plotsTable
    {
        max-height: 440px;
        overflow-y: auto;
    }
    td i{
        cursor: pointer;
    }
</style>
<link rel="stylesheet" type="text/css" href="/vali/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<div class="app-content">
    <div class="col-md-12 tile" id="plotList">
        <h3>Plots List</h3>
        <table id="plotsTable" class="table table-dark">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Claim Id</th>
                <th>Created by</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
          {% for cnt,val in plots %}
            <tr>
                <td>{{ cnt+1 }}</td>
                <td>{{ val.c_id }}</td>
                <td>{{ val.create_by }}</td>
                <td>{{ val.status }}</td>
                <td>
                    <a href="/Plots/viewPlot/{{val.c_id}}"><i class="fa fa-eye"></i></a>&nbsp;
                    <a href="#"><i class="fa fa-minus"></i></a>
                </td>
                <td>{{ val.timestamp }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
<script src="/vali/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="/vali/js/plugins/dataTablesButton.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js "></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function() {
        $('#plotsTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
    });
</script>
<style>
table.dataTable tbody tr
{
    background: #212529;
}
#plotsTable_filter,
#plotsTable_paginate
{
    color: white;
}
</style>
{% endblock %}
