{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
#map
{
    height: 425px;
    width: 100%;
}
#updateMap
{
    position: absolute;
    top: 0px;
    z-index: 100;
    right: 0px;
}
</style>
<link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
<div class="app-content" style="padding: 0px;">
    <div id="updateMap" onclick="savePolygon();">
        <div class="btn btn-info">Update Plot</div>
    </div>
    <div id="map" style="height: 80vh"></div>
</div>
<!-- <script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script> -->
<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
<script src="/vali/js/ol3.js"></script>
<script src="/vali/js/ol-popup.js"></script>
<script src="/vali/js/ol3gm.js"></script>
<script>
    var points = {{ geoPoints | json_encode()|raw }};
    var extent = [{{bbox}}];
    var Id = [{{id}}];
</script>
<script src="/vali/js/map/mapConstants.js"></script>
<script src="/vali/js/map/addLayer.js"></script>
<script src="/vali/js/map/addFeature.js"></script>
{% endblock %}