{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: #cecece;
    }
</style>
<div class="app-content">
    <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">FRACT Features</h3>
            <ul>
              <li>Built with Bootstrap 4, SASS and PUG.js</li>
              <li>Fully responsive and modular code</li>
              <li>Widgets to effectively display statistics</li>
              <li>Data tables with sort, search and paginate functionality</li>
              <li>Custom form elements like toggle buttons, auto-complete, tags and date-picker</li>
            </ul>
            <p class="mt-4 mb-4">
                <a class="btn btn-primary mr-2 mb-2" href="#" target="_blank"><i class="fa fa-file"></i>Docs</a>
                <a class="btn btn-info mr-2 mb-2" href="#" target="_blank"><i class="fa fa-github"></i>GitHub</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
            <h3 class="tile-title">FRACT Compatibility</h3>
            <p>The tools is compatible with cross platform usage like Windows/Linux.</p>
            <p>Go to <a href="#" target="_blank">documentation</a> for more details about using this tool with various frameworks.</p>
            <p>Tools is built using oppen source technologies only.</p>
            <p>FRACT uses andorid sdk for mobile apps which can be tweaked based on user requirements. It supports uptill last 3 versions of andorid.</p>
            <p>Web portal is built using PHP/JS and open GIS softwares.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="tile">
            <h3 class="tile-title">App Usage</h3><h6>(dummy data)</h6>
            <div>
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile">
            <h3 class="tile-title">Land mapped</h3><h6>(dummy data)</h6>
            <div>
                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
            </div>
        </div>
        <div class="col-md-3">
                <div class="tile">
                <h3 class="tile-title">Claims under process</h3><h6>(dummy data)</h6>
                <div>
                    <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                <h3 class="tile-title">Claimed</h3><h6>(dummy data)</h6>
                <div>
                    <canvas class="embed-responsive-item" id="barChartDemo2"></canvas>
                </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
<script>
    var data = {
        labels: ["January", "February", "March", "April", "May"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [28, 48, 40, 19, 86]
            }
        ]
    };
    var pdata = [
        {
            value: 300,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Complete"
        },
        {
            value: 50,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "In-Progress"
        }
    ];  
    var bdata = {
      	labels: ["January", "February", "March", "April", "May"],
      	datasets: [
      		{
      			label: "My First dataset",
      			fillColor: "rgba(220,220,220,0.2)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: [65, 59, 80, 81, 56]
      		},
      		{
      			label: "My Second dataset",
      			fillColor: "rgba(151,187,205,0.2)",
      			strokeColor: "rgba(151,187,205,1)",
      			pointColor: "rgba(151,187,205,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(151,187,205,1)",
      			data: [28, 48, 40, 19, 86]
      		}
      	]
      };
    var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    var lineChart = new Chart(ctxl).Line(data);
    
    var ctxp = $("#pieChartDemo").get(0).getContext("2d");
    var pieChart = new Chart(ctxp).Pie(pdata);

    var ctxb = $("#barChartDemo").get(0).getContext("2d");
    var barChart = new Chart(ctxb).Bar(bdata);
    
    var ctxb = $("#barChartDemo2").get(0).getContext("2d");
    var barChart = new Chart(ctxb).Bar(bdata);
</script>
{% endblock %}