<footer class="app-footer">
    <div class="col-md-6 col-sm-12">
        Part of : <a class="col-md-6 col-sm-12" href="http://service.fes.org.in/io" target="_blank">India Observatory</a> 
        Developed by : <a class="col-md-6 col-sm-12" href="http://fes.org.in" target="_blank">Foundation for Ecological Security</a>
    </div>
</footer>