<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>FRA - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/vali/css/main.css">
    {# <link rel="stylesheet" type="text/css" href="/vali/css/font-awesome.min.css"> #}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/vali/css/font-awesome-custom.css">
    <link rel="stylesheet" type="text/css" href="/vali/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/global/css/ol4.css">
    <script type="text/javascript" src="/vali/js/jquery-3.2.1.min.js"></script>
  </head>
  <body class="app {% if user is defined %} sidebar-mini {% endif %}">
    <div id="loader">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
          FRA
        </div>
    </div>
    {% if alerts is defined %}
        {% for key,value in alerts %}
          <div class="alert alert-dismissible alert-{{ key }} page-alert">
            <button class="close" type="button" data-dismiss="alert">×</button>
            <strong>{{ value | raw }}</strong>
          </div>
        {% endfor %}
    {% endif %}
    {% include "header.html" %}
    {% include "sidebar.html" %}
        {% block content %}
        {% endblock %}
    {% include "footer.html" %}
    <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
    <script src="/vali/js/plugins/pace.min.js"></script>
    <script src="/vali/js/popper.min.js"></script>
    <script src="/vali/js/bootstrap.min.js"></script>
    <script src="/vali/js/main.js"></script>
    <script src="/vali/js/custom.js"></script>
    <script src="/vali/js/plugins/sweetalert.min.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <!-- Page specific javascripts-->
  </body>
</html>