<style>
	.app-sidebar
	{
		background: rgb(81,80,0); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(81,80,0,1) 0%, rgba(183,170,97,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(81,80,0,1) 0%,rgba(183,170,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(81,80,0,1) 0%,rgba(183,170,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515000', endColorstr='#b7aa61',GradientType=0 ); /* IE6-9 */
	}

</style>
{% if user is defined %}
	<aside class="app-sidebar">
	  <div class="app-sidebar__user">
		<!--<img class="app-sidebar__user-avatar" src="" alt="User Image">-->
		<span style="display:inline-block; border: 1px solid #fff; background: #515000; padding: 4px 8px; border-radius: 30px; margin-right: 10px;">
		<i class="fa fa-user" style="font-size:150%;"></i>
		</span>
		<div>
		  <p class="app-sidebar__user-name">{{ user['name'] }}</p>
		  <p class="app-sidebar__user-designation">{{ user['designation'] }}</p>
		</div>
	  </div>
	  <ul class="app-menu">
		<li><a class="app-menu__item" href="/"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
		<li class="treeview">
			<a class="app-menu__item" href="#" data-toggle="treeview">
				<i class="app-menu__icon fa fa-user"></i>
				<span class="app-menu__label">User Management</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a class="treeview-item" href="/User/getUsers"><i class="icon fa fa-dot-circle-o fa-xxs"></i> Users</a></li>
				<li><a class="treeview-item" href="/User/getRoles"><i class="icon fa fa-dot-circle-o fa-xxs"></i> Roles</a></li>
				<li><a class="treeview-item" href="/User/getOrganizations"><i class="icon fa fa-dot-circle-o fa-xxs"></i> Organisations</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a class="app-menu__item" href="#" data-toggle="treeview">
				<i class="app-menu__icon fa fa-database"></i>
				<span class="app-menu__label">Data Management</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a class="treeview-item" href="/Claims/index"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Claims</a></li>
				<li><a class="treeview-item" href="/Claimants/index"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Claimaints</a></li>
				<li><a class="treeview-item" href="/Plots/index"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Plot Information</a></li>
				<li><a class="treeview-item" href="/Data/index"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Data Activity Log</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a class="app-menu__item" href="#" data-toggle="treeview">
				<i class="app-menu__icon fa fa-area-chart"></i>
				<span class="app-menu__label">Reports</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a class="treeview-item" href="#" onclick="swal('','Under Development.');"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Generated Govt Formats</a></li>
				<li><a class="treeview-item" href="#" onclick="swal('','Under Development.');"><i class="icon fa fa-dot-circle-o fa-xxs"></i>System Reports</a></li>
			</ul>
		</li>
	  </ul>
	</aside>
<script>
	function swalClick(title,msg)
	{
		swal({
			title: title,
			text: msg,
			type: "warning",
			confirmButtonText: "Ok",
			closeOnConfirm: false,
			closeOnCancel: false
		});
	}
</script>	
{% endif %}