{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: #cecece;
    }
</style>
<div class="app-content">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="tile">
      <h3 class="tile-title">Login</h3>
      <div class="tile-body">
        <form class="form-horizontal" id="login" action="/User/login" method="post">
          <div class="form-group row">
            <label class="control-label col-md-3">Username</label>
            <div class="col-md-8">
              <input class="form-control col-md-8" placeholder="Enter Username" type="text" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Password</label>
            <div class="col-md-8">
              <input class="form-control col-md-8" placeholder="Enter Password" type="password" name="password">
            </div>
          </div>
          <div class="tile-footer">
            <div class="row">
              <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Login</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href="/User/forgot"><i class="fa fa-fw fa-lg fa-times-circle"></i>Forgot password</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}