{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: #cecece;
    }
</style>
<div class="app-content row">
    <div class="col-md-1"></div>
    <div class="tile col-md-8">
      <h3 class="tile-title">Register</h3>
      <div class="tile-body">
        <form class="form row" action="/User/register" method="POST">
          <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input name="name" class="form-control" id="name" type="text" placeholder="Enter name">
              </div>
              <div class="form-group">
                  <label for="username">Username</label>
                  <input name="username" class="form-control" id="username" type="text" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" class="form-control" id="password" type="password" placeholder="Enter password">
                  </div>
              <div class="form-group">
                <label for="designation">Designation</label>
                <input name="designation" class="form-control" id="designation" type="text" placeholder="Enter designation">
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input name="mob_number" class="form-control" id="mobile" type="text" placeholder="Enter mobile">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" id="email" type="text" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input name="address" class="form-control" id="address" type="text" placeholder="Enter address">
              </div>
          </div>
          <div class="col-md-12">
              <button id="submit" style="float: right;" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
  $(document).ready(function(){
    $('#username').keyup(function(){
      input = $(this).val();
      if(input.length > 3)
      {
        $('#submit').removeClass('disabled');
      }else{
        $('#submit').addClass('disabled');
      }
    });
  });
</script>
{% endblock %}