{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .tile{
        background: #363c36c4;
        color: white;
    }
    #tableHeaderList
    {
        max-height: 440px;
        overflow-y: auto;
    }
</style>
<div class="app-content">
    <link rel="stylesheet" href="/vali/css/jquery.dataTables.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" type="text/css">
    <div class="col-md-12 tile" id="tableHeaderList">
        <h3>Claimants</h3>
        <table id="claimantsTable" class="table table-dark">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Claimants Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for cnt,claimant in claimants %}
            <tr>
                <td>{{ cnt + 1 }}</td>
                <td>{{ claimant.name }}</td>
                <td>{{ claimant.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
<script src="/vali/js/plugins/dataTables.bootstrap.min.js"></script>
<script src="/vali/js/plugins/dataTablesButton.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js "></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function() {
        $('#claimantsTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
    });
</script>
<style>
table.dataTable tbody tr
{
    background: #212529;
}
#claimantsTable_filter,
#claimantsTable_paginate
{
    color: white;
}
</style>
{% endblock %}